body {
    background: url(img.jpg) no-repeat;
    background-size: 100%;
}

#container {
padding: 10px;
}

#book {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding-top: 5px;
    height: 400px;
    width: 675px;
}

#box1 {
    height: 400px;
    width: 300px;
    border-right: 10px solid black;
    padding-left: 48px;
}

#box2 {
    display: flex;
    display: table-row;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    height: 400px;
    width: 300px;
    background: url(pika1.png) no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: #f4d22e;
}

#box3 {
    height: 400px;
    width: 300px;
    border: 3px solid black;
    margin-top: -5px;
    padding-bottom: 5px;
    background-color: #f4d22e;
}

#box1de1 {
    height: 400px;
    width: 300px;
    background-color: #f4d22e;
    border: 3px solid black;
    margin-top: -5px;
    padding-bottom: 5px;
}

#imgp {
    height: 200px;
    width: 200px;
    padding-left: 50px;
    padding-top: 80px;
}

#namepok {
    text-align: center;
}

#box3de1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


#boxsearch {
    position: absolute;
    top: 380px;
    left: 435px;
}

h1 {
    padding-left: 25px;
    margin-top: 5px;
}

#textcover {
    color: gray;
    margin-top: -25px;
    padding-left: 10px;
}

#boxinfos {
    position: absolute;
    top: 450px;
    left: 150px;
}

#labelinfos {
    margin: 0;
    color: gray;
}